.header {
  background-color: rgba(0, 0, 0, 0.8);
  grid-area: h;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}
.header img {
  width: 30px;
}
.naming {
}
.text {
  color: #d2bf61;
}
